
body{
	background-image: url('../img/logo1.png');
	background-repeat:no-repeat;
	background-position:center; 
	 font-family: 'Ubuntu Mono';
	 font-size: 0.8em;
}

.button {
   border: solid 4px rgba(0,0,0,1);
   display: inline-block;
   color: rgba(0,0,0,1);
}
.tab-content > .nav-tabs li a {
	font-size:0.8em;
}

button {
	font-size:1.2em;
}

.paddingInTab{
	padding-top: 1em;
}

.bordertest{
	border: solid 4px rgba(0,0,0,1);
}

.centered {
  top:10%;
  left:8%;
  margin-top: 1%;
}
.alignleft {
	text-align: left;
}

.onfront{
	z-index: 1000;
	position: relative;
	width: 10%;
}

.logo{
	position: absolute;
	top: 0;
	left: 0;
	width: 20%;
	height: auto;
}

.adv{
	  margin-left: auto ;
  margin-right: auto ;

}
.mainDiv{
	opacity:0.95;
	min-height: 35em;
	background-color: #FFFFFF;
	text-align: center;
	padding:0.35em;
	-webkit-border-radius: 3em;
-moz-border-radius: 3em;
border-radius: 3em;
	border: 0.3em ridge blue;

}
.adminDiv{
	-webkit-border-radius: 3em;
-moz-border-radius: 3em;
border-radius: 3em;
	border: 0.3em ridge red;

}

.popUp{
	opacity:0.9;
	height: 100%;
	width: 80%;
	background-color: #FFFFFF;
	text-align: center;
	padding:0.5em;
	-webkit-border-radius: 3em;
-moz-border-radius: 3em;
border-radius: 3em;
	border: 0.3em ridge blue;
}

 .photo {
    width: 300px;
    text-align: center;
  }
  .photo .ui-widget-header {
    margin: 1em 0;
  }
  .map {
    width: 350px;
    height: 350px;
  }
  .ui-tooltip {
    max-width: 350px;
  }

#large {
    display: none;
    position: absolute;
    background: #FFFFFF;
    padding: 0px;
    z-index: 10;
    min-height: 0px;
    min-width: 0px;
    color: #336699;
}



#tabs .tabs-spacer { float: left; height: 200px; }
  .tabs-bottom .ui-tabs-nav { clear: left; padding: 0 .2em .2em .2em; }
  .tabs-bottom .ui-tabs-nav li { top: auto; bottom: 0; margin: 0 .2em 1px 0; border-bottom: auto; border-top: 0; }
  .tabs-bottom .ui-tabs-nav li.ui-tabs-active { margin-top: -1px; padding-top: 1px; }

#Ubuntufont{ 
  	font-family: 'Ubuntu Mono';
  }
  #indextabs,#yeartabs, #prevyeartabs{ 
  	font-family: 'Ubuntu Mono';
	border: none
  }
#indextabs {
	width: 96%;
	margin-left: 1em;
}
#yeartabs{
	width: 100%;
	border: none
}
#yeartabs .ui-tabs-nav li {
	font-size: 0.9em;
}

.searchInput{
	text-align: center;
	padding:1em 0 0 0;
	margin-bottom: 1em;
}
.menu{
	padding: 0 0 0 2em;
}

.bgTest{
	background-color: #FFFFFF;
}
.opacity{
	opacity: 1;
}

.login-form {
				display:inline-block;
				border:2px solid red;
				

background: -moz-linear-gradient(top,  rgba(213,206,166,0.44) 0%, rgba(201,193,144,0.41) 40%, rgba(183,173,112,0.37) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(213,206,166,0.44)), color-stop(40%,rgba(201,193,144,0.41)), color-stop(100%,rgba(183,173,112,0.37))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(213,206,166,0.44) 0%,rgba(201,193,144,0.41) 40%,rgba(183,173,112,0.37) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(213,206,166,0.44) 0%,rgba(201,193,144,0.41) 40%,rgba(183,173,112,0.37) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(213,206,166,0.44) 0%,rgba(201,193,144,0.41) 40%,rgba(183,173,112,0.37) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(213,206,166,0.44) 0%,rgba(201,193,144,0.41) 40%,rgba(183,173,112,0.37) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70d5cea6', endColorstr='#5eb7ad70',GradientType=0 ); /* IE6-9 */



				padding:8px 5px 0px 5px;

				border-radius:15px;
				top:30%;
			     left:40%;
			     position:absolute;
			}

.tableusers {
  width: 30%;
  float: left;
  margin-right: 1em;
}

.topright {
	width: 15%;
			  position:absolute;
   top:0;
   right:0;
   z-index: 1;
   opacity:0.8;
filter:alpha(opacity=80); /* For IE8 and earlier */

			}

.printtable {
	background-color: #FFFFFF;
			}
		